<h1><%= @user.first_name %>'s Page:</h1>
<hr>

<h3> <%= @user.first_name %>'s informaiton: </h3>
<h3> Alias: <%= @user.alias %> </h3>
<h3> First Name <%= @user.first_name %> </h3>
<h3> Last Name: <%= @user.last_name %> </h3>
<h3> Email: <%= @user.email %> </h3>
<hr>
<br>
<hr>
<h3>Total number of likes: <%= @user.likes.count %> </h3>
<h3>Total number of ideas: <%= @user.ideas.count %> </h3>